







div {
  border: solid black 1px;
}


.inpakning{
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  
}

.header{
  display: flex;
flex-direction: row;
justify-content: end;
  background-color: burlywood;
}

.bitcoinm{

 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.all{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	justify-content: flex-start;
	align-items: stretch;
	align-content: space-between;
  

	
 
}
.dolards{
  display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
  background-color: burlywood;

}

.btc{
display: flex;
flex-direction: row row-reverse;
justify-content: end;
}


button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

;
